@import "@/scss/breakpoints";
@import "@/scss/colors";

.skills_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    color: $color-dark-gray;

    @include above-mobile() {
        gap: 0.2rem;
    }

    &__skill {
        background: $color-white-cream;
        border-radius: 1.4rem;
        padding: 0.6em 1.4em;
        font-size: 1.4rem;

        @include above-mobile() {
            font-size: 0.35rem;
        }
    }

    &__plus {
        font-size: 1.8rem;

        @include above-mobile() {
            font-size: 0.5rem;
        }
    }
}