$color-mentors-cta-purple: #8D5CF6;
$color-clients-cta: #54D1CC;
$color-blue: #0060FF;
$color-fonts-menu: #1A1D36;
$color-error: firebrick;
$color-dark-purple: #15172C;
$color-title: #2D3039;
$color-light-blue: #5dd9f2;

$color-white: #ffffff;
$color-white-cream: #FDF2F4;
$color-hover: #2D3039;
$color-dark-gray: #58595F;
$color-gray-f7: #F7F7F7;
$color-gray-8a: #8A898E;
$color-gray-eb: #EBEAED;
$color-primary: #2D3039;